/*--### COLORS ###--*/
$primary: #ff902b;
$secondary: #2f2105;

$primary2: #f4ae26;

$beige: #f9d9aa;
$beige-light: #f6ebda;
$grey: #7e7d7a;
$light-grey: #929292;

$black: #000000;
$white: #ffffff;

/*--### FONTS ###--*/
$font: "Poppins", sans-serif;
